---
const {
  totalPages,
  currentPage
} = Astro.props
---

<div class="flex flex-col sm:flex-row items-center justify-between gap-4 mt-6">

  <!-- INFO -->

  <div class="text-sm text-zinc-500 font-medium">

    Showing page

    <span
      id="currentPage"
      class="text-zinc-900 font-semibold"
    >
      {currentPage}
    </span>

    of

    <span
      id="totalPages"
      class="text-zinc-900 font-semibold"
    >
      {totalPages}
    </span>

  </div>

  <!-- BUTTONS -->

  <div class="flex items-center gap-3">

    <!-- PREV -->

    <button
      id="prevPageBtn"
      class="bg-white hover:bg-zinc-100 border border-zinc-200 px-5 py-3 rounded-2xl text-sm font-medium text-zinc-700 transition shadow-sm"
    >

      ← Prev

    </button>

    <!-- NEXT -->

    <button
      id="nextPageBtn"
      class="bg-zinc-900 hover:bg-black text-white px-5 py-3 rounded-2xl text-sm font-semibold transition shadow-sm"
    >

      Next →

    </button>

  </div>

</div>